body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: rgb(221, 163, 102);
  color: white;
  display: flex;
  justify-content: center;
  padding: 20px;
  transition: 0.3s;
}

.dark {
  background: #0f172a;
}

.app-wrapper {
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.app-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input, select {
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #ff7a18;
  color: white;
  font-weight: bold;
}

button:hover {
  transform: scale(1.05);
}

.weather-card {
  background: rgba(9, 6, 4, 0.396);
  backdrop-filter: blur(10px);
  padding: 25px;
  /* border-radius: 20px; */
  margin-bottom: 20px;
}

.saved-wrapper {
  margin-top: 20px;
}

.filters {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 15px;
}

.card {
  background: rgba(255,255,255,0.15);
  padding: 15px;
  border-radius: 15px;
  position: relative;
}

.card button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: red;
  font-size: 12px;
}

.hidden {
  display: none;
}

.top-bar {
  position: absolute;
  top: 10px;
  right: 10px;
}